In [1]:
import pandas as pd
import os
import gspread
from oauth2client.service_account import ServiceAccountCredentials

In [2]:
path = os.getcwd() +'/' + input('Insira o nome da sua pasta:')
print(path)

c:\Users\pcfmp\OneDrive\Documentos\Py/gastos

In [3]:

files = [file for file in os.listdir(path) if not file.startswith('.')]


all_months_df = pd.DataFrame()

for file in files: 
    current_df = pd.read_csv(path+"/"+file)
    all_months_df = pd.concat([all_months_df, current_df])
    
all_months_df.to_csv("nu_df.csv", index=False)

In [4]:
nu_df = pd.read_csv('nu_df.csv')
nu_df.head()

         date  category                      title  amount
0  2020-12-12  serviços  Picpay *Vt9 Pgtoconta 6/6   13.52
1  2020-12-14       NaN         Pagamento recebido  -18.10
2  2020-12-14       NaN         Pagamento recebido -185.79
3  2020-12-16  educação                Memrise.Com  155.68
4  2020-12-16       NaN       IOF de "Memrise.Com"    9.93

In [5]:
nu_df = nu_df.dropna()
nu_df.head()

         date     category                      title  amount
0  2020-12-12     serviços  Picpay *Vt9 Pgtoconta 6/6   13.52
3  2020-12-16     educação                Memrise.Com  155.68
5  2020-12-21   transporte      Uberbr Uber * Pending   11.39
7  2020-12-21   transporte      Uberbr Uber * Pending   16.73
8  2020-12-24  eletrônicos          Mercpago*Clickbus   50.75

In [6]:
nu_df['amount'] = pd.to_numeric(nu_df['amount'])

In [7]:
nu_df ['month'] = pd.to_datetime(nu_df['date']).dt.month
nu_df ['year'] = pd.to_datetime(nu_df['date']).dt.year
nu_df.head()

         date     category                      title  amount  month  year
0  2020-12-12     serviços  Picpay *Vt9 Pgtoconta 6/6   13.52     12  2020
3  2020-12-16     educação                Memrise.Com  155.68     12  2020
5  2020-12-21   transporte      Uberbr Uber * Pending   11.39     12  2020
7  2020-12-21   transporte      Uberbr Uber * Pending   16.73     12  2020
8  2020-12-24  eletrônicos          Mercpago*Clickbus   50.75     12  2020

In [8]:
scope = scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

creds = ServiceAccountCredentials.from_json_keyfile_name('C:/Users/pcfmp/OneDrive/Documentos/PY/proje_nu.json', scope)

client = gspread.authorize(creds)

sheet = client.open('nubank_gastos_automação')
sheet_instance = sheet.get_worksheet(0)

In [ ]:
sheet_nu = sheet_instance.update([nu_df.columns.values.tolist()] + nu_df.values.tolist())